.get-all-appointments-container {
  background-color: #9dafa2;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px 20px;
}

.misCitas {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.appointmentsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin-top: 20px;
}

.appointmentCard {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  min-height: 200px;
}

.appointmentCard h4 {
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.appointmentCard p {
  margin: 5px 0;
  font-size: 16px;
}

.appointmentCard button {
  background-color: #c1b59f;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.appointmentCard button:hover {
  background-color: #a39987;
}

.loadingAppointments {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.modal h3 {
  color: #007bff;
  font-size: 20px;
  margin-bottom: 10px;
}

.modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal button:last-child {
  background-color: #dc3545;
}

.modal button:hover {
  background-color: #0056b3;
}
