body {
  margin: 0;
  padding: 0;
  background-color: #c1b59f;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}
.users-container {
  padding: 20px;
}

.users-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 5px;
  min-height: 200px;
}

.user-photo {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #bbcfc0;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #97a99b;
}

.pagination button:hover {
  background-color: #cadfcf;
}

.pagination .prev-next-btn {
  background-color: #bbcfc0;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination .prev-next-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .prev-next-btn:hover {
  background-color: #f79a29;
}

.pagination .prev-arrow::before {
  content: "«";
}

.pagination .next-arrow::before {
  content: "»";
}

.botonUser {
  background-color: #bbcfc0;
}
.botonUser2 {
  background-color: #bbcfc0;
  margin-left: 0.3em;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
