.alimentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #c7c7c7;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.aliment {
  max-width: 800px;
  width: 100%;
  background: linear-gradient(135deg, #f4b400, #e93a8b);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -10em;
  color: #ffffff;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.icon {
  font-size: 40px;
  margin: 0 10px;
}

.instructions {
  font-size: 20px;
  margin-bottom: 30px;
}

.QuizzContainer {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .aliment {
    padding: 10px;
    margin-top: -5em;
  }

  .title {
    font-size: 24px;
  }

  .icon {
    font-size: 28px;
  }

  .instructions {
    font-size: 16px;
  }

  .QuizzContainer {
    max-width: 400px;
  }
}
