.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #bbcfc0;
}

.service-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin-bottom: 4em;
}

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
  border-radius: 10px;
  padding: 30px;
  transition: transform 0.2s ease-in-out;
}

.service-section:hover {
  transform: translateY(-5px);
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.service-details button {
  display: block;
  width: 70%;
  height: 18%;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #c1b59f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.service-details button:hover {
  background-color: #c5923a;
}

.service-details button:active {
  transform: translateY(2px);
}

.service-details button:focus {
  outline: none;
}

.perroLavandose {
  background-repeat: no-repeat;
  margin-bottom: -2em;
  margin-top: -2em;
  width: 45em;
}

@media screen and (max-width: 768px) {
  .services-page {
    padding: 20px;
    max-width: 100%;
  }

  .service-section-container {
    grid-template-columns: 1fr;
  }

  .service-section {
    height: auto;
    margin-bottom: 20px;
  }
}
