.services-container {
  background-color: #a5b6aa;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0em;
}

.services-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 150px;
  color: white;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.service-card p {
  margin: 12px 0;
  font-size: 16px;
}

.service-card p:first-child {
  font-weight: bold;
}

.botonServices {
  background-color: #c1b59f;
}
.botonServices2 {
  background-color: #c1b59f;
  margin-left: 0.3em;
}

@media screen and (max-width: 768px) {
  .services-title {
    font-size: 24px;
  }

  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 400px;
  }

  .service-card {
    padding: 16px;
  }

  .service-card p {
    font-size: 12px;
  }
}
