.dogs-page {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}

.dogs-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.dog-form button {
  width: 100%;
  background-color: #c1b59f;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dog-form button:hover {
  background-color: #c1b59f;
}

.dog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15em;
}

.dog-form input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.dog-form button {
  background-color: #f2668f;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dog-form button:hover {
  background-color: #ff4081;
}

@media screen and (max-width: 768px) {
  .dog-form {
    margin-top: 1em;
  }

  .dog-form input,
  .dog-form button {
    max-width: 100%;
  }
}