html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.generalHome {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/instalacionesPerros.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 2s ease;
  min-height: calc(100vh - 80px);
}

.generalHome.show-image {
  opacity: 1;
}
.textoBienvenida {
  display: inline-block;
  animation: caidaDesdeArriba 2s;
  border-radius: 5%;
  background-color: rgba(31, 31, 31, 0.113);
  color: white;
  margin-top: 5em;
}

.reservar-cita-container {
  margin-top: -25em;
  margin-left: 50em;
  background-color: #f4b400;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px white;
  width: 115px;
  cursor: pointer;
  height: 100px;
  animation: caidaDesdeArriba 2s;
  display: inline-block;
}
@keyframes swing {
  0%,
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) rotate(3deg);
  }
}

.reservar-cita-shape {
  margin-left: 3.5em;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  z-index: 1;
}

.reservar-cita-texto {
  font-size: 16px;
  color: #ff0000;
  text-decoration: none;
}

.reservar-cita-rope {
  margin-top: -19em;
  margin-left: 3.5em;
  transform: translateX(-50%);
  width: 2px;
  height: 200px;
  background-color: #8c6239;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 170px;
}

@keyframes caidaDesdeArriba {
  0% {
    transform: translateY(-1300%);
    opacity: 0;
  }
  60% {
    transform: translateY(20%);
    opacity: 1;
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.perro-image-container {
  position: fixed;
  bottom: 11.4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-left: -50em;
}

.perro-image {
  width: 100%;
  max-width: 800px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.card {
  width: 200px;
  height: 150px;
  background-color: #aaaaaa;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  margin-bottom: -9em;
  margin-left: 1em;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e7e7e731;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  background-color: #aaaaaa;
}

.card:hover::before {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .textoBienvenida {
    font-size: 1.5em;
    margin-top: 2rem;
    text-align: center;
  }
  .reservar-cita-container {
    width: 50px;
    height: 120px;
    margin-top: -10em;
    margin-left: -15em;
  }

  .reservar-cita-shape {
    margin-top: 1em;
    margin-left: 1.6em;
  }

  .reservar-cita-texto {
    font-size: 14px;
    margin-top: -9em;
  }

  .reservar-cita-rope {
    width: 2px;
    height: 180px;
    margin-top: -17.3em;
    margin-left: 1.6em;
  }

  .generalHome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .card {
    width: 150px;
    height: 100px;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
}
