html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.generalHome {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/instalacionesPerros.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 2s ease;
}

.generalHome.show-image {
  opacity: 1;
}
.textoBienvenida {
  display: inline-block;
  animation: caidaDesdeArriba 2s;
  border-radius: 5%;
  margin-bottom: 7em;
  background-color: rgba(31, 31, 31, 0.318);
  color: white;
}

@keyframes caidaDesdeArriba {
  0% {
    transform: translateY(-1300%);
    opacity: 0;
  }
  60% {
    transform: translateY(20%);
    opacity: 1;
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .textoBienvenida {
    margin-left: 0.9em;
  }
}
